<!doctype html>
<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<!-- TODO: host locally -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
<script src="/static/htmx.min.js"></script>

<link rel="stylesheet" href="/static/style.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
function clearDiv(elementID)
{
    document.getElementById(elementID).innerHTML = "";
}
</script>
</head>
<body>
<div class="pure-g">
    <div class="pure-u-1-8"></div>
    <div class="pure-u-3-4">
    {% include 'search_bar.html' %}

      <div id="benchmark-body">
        {% if include %}
        {% include include + '.html' %}
        {% endif %}
      </div>
    </div>
    <div class="pure-u-1-8"></div>
</div>
</body>
</html>
